<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My Flask Web App</title>

		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link href="carousel.css" rel="stylesheet" >
	</head>

	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
			      <a class="navbar-brand" href="/">
			        <img style="max-width:80px; max-height:80px; margin-top:-7px;" src="{{ url_for('static', filename='images/brand.png') }}">
			      </a>
			    </div>

				 	<a href="/dashboard"><button class="btn btn-primary" type="button" aria-label="Left Align" style="margin-top: 5px; margin-bottom:5px; margin-right:15px; height:44px;"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Start Learning
				 	</button></a>


				<ul class="nav navbar-nav navbar-right">
			        
					<div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;" class="container-fluid">
						<h5>
							<a href="/support-donate/"><span class="glyphicon glyphicon-heart"></span> Support&nbsp;&nbsp;&nbsp;</a>
							<a role="presentation" class="active" data-toggle="modal" data-target="#exampleModal" href="#"><span class="glyphicon glyphicon-log-in"></span> Login&nbsp;&nbsp;&nbsp;</a>

							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="exampleModalLabel">Login</h4>
										</div>
												<div class="modal-body">
													<div class="container-fluid">
														<form action="" class="form-inline" method="post">
															<input type="text" class="form-control" placeholder="Username" name="username" value="">
															<input type="password" class="form-control" placeholder="Password" name="password" value="">
															<input class="btn btn-primary" type="submit" value="Login">
														</form>

														<div class="container">
															<br>
															<p>No account? <a href='/register'>Register here</a>.</p>
															<br>

														</div>
													</div>
												</div>

									</div>
								</div>
							</div>
					

							<a role="presentation" class="active" data-toggle="modal" data-target="#register" href="#"><span class="glyphicon glyphicon-pencil"></span> Sign up</a><h5>
							<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="exampleModalLabel">Register</h4>
										</div>
										<div class="modal-body">
											<div class="container">
												<form method=post action="/register">
													<dl>
													<dt><label for="username">Username</label></dt>
													<dd><input id="username" name="username" type="text" value=""></dd>

													<dt><label for="email">Email Address</label></dt>
													<dd><input id="email" name="email" type="text" value=""></dd>

													<dt><label for="password">New Password</label></dt>
													<dd><input id="password" name="password" type="password" value=""></dd>

													<dt><label for="confirm">Repeat Password</label></dt>
													<dd><input id="confirm" name="confirm" type="password" value=""></dd>

													<dt><label for="accept_tos">I accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a> (updated Jan 8, 2020)</label></dt>
													<dd><input id="accept_tos" name="accept_tos" type="checkbox" value="y"></dd>
													</dl>

													<p><input type=submit value=Register></p>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>

			    </ul>
			</div>
		</nav>


	</header>


	<body>
		<br><br><br><br>

		<div class="container" align="center" style="min-height:100%, margin-bottom: 15px;">
			
			<div id="content">
				{% block content %}
					<div class="row">
					<!-- size 4 on a large screen, 12 on a small, 6 on a med -->
				        <div class="col l4 s12 m6">
				          <a href="/machine-learning-tutorials/" class="waves-effect waves-light" style="color:#000">
				            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
				              <div class="card-image">
				                <img class="responsive-img" src="{{ url_for('static', filename='images/pic1.png') }}" style="width:250px">
				                <br><span class="card-title"><strong>Machine Learning</strong></span>
				              </div>
				              <div class="card-content">
				                <p>Employ both supervised and unsupervised machine learning, to make predictions or to understand data.</p>
				              </div>
				              <div class="card-action right-align">
				                <a href="/machine-learning-tutorials/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
				              </div>
				            </div>
				          </a>
				        </div>


						<div class="col l4 s12 m6">
							<a href="/data-analysis-tutorials/" class="waves-effect waves-light" style="color:#000">
							<div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
								<div class="card-image">
								  <img class="responsive-img" src="{{ url_for('static', filename='images/pic2.png') }}" style="width:250px">
								  <br><span class="card-title"><strong>Data Analysis</strong></span>
								</div>
								<div class="card-content">
								  <p>Learn how to use Python with Pandas, Matplotlib, and other modules to gather insights from and about your data.</p>
								</div>
								<div class="card-action right-align">
								  <a href="/data-analysis-tutorials/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
								</div>
				            </div>
				            </a>
						</div>



						<div class="col l4 s12 m6">

							<div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
							<a href="/quantum-computer-programming-tutorial/" class="waves-effect waves-light" style="color:#000">
								<div class="card-image">
								  <img class="responsive-img" src="{{ url_for('static', filename='images/pic3.png') }}" style="width:250px">
								  <br><span class="card-title"><strong>Quantum Computer Programming</strong></span>
								</div>
								<div class="card-content">
								  <p>Learn the basics and concepts of working with quantum computers and qubits through practical applications and the Qiskit package.</p>
								</div>
								<div class="card-action right-align">
								  <a href="/quantum-computer-programming-tutorial/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
								</div>
								</a>
				            </div>

						</div>
					</div>
				{% endblock %}
			</div>

			<!--<a href="/dashboard/">
				<video autoplay="autoplay" muted="muted" poster="/static/videos/python-programming-tutorials-main.png" style="width:100%; max-height: 80%;">
					<source src="/static/videos/python-programming-tutorials-main.mp4" type="video/mp4">
					<source src="/static/videos/python-programming-tutorials-main.webm" type="video/webm">
				</video>
			</a>-->

		</div>

		<script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		
	</body>

	<footer>
			{% block footer %}
				 <div class="container">
		            <div class="row">
		              <div class="col l6 s12">
		                <h5 class="white-text">You've reached the end!</h5>

		                <p class="grey-text text-lighten-4">Contact: theSuccessfulProgrammer</p>
		                <ul>
		                  <li><a class="grey-text text-lighten-3" href="/support-donate/">Support this Website!</a></li>
		                  <li><a class="grey-text text-lighten-3" href="/consulting/">Consulting and Contracting</a></li>
		                  <li><a class="grey-text text-lighten-3" href="">Facebook</a></li>
		                  <li><a class="grey-text text-lighten-3" href="">Twitter</a></li>
		                  <li><a class="grey-text text-lighten-3" href="">Instagram</a></li>
		                </ul>
		              </div>
		              <div class="col l4 offset-l2 s12">
		                <h6 class="white-text">Legal stuff:</h6>
		                <ul>
		                  <li><a class="grey-text text-lighten-3" href="/about/tos/">Terms and Conditions</a></li>
		                  <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">Privacy Policy</a></li>

		                </ul>
		              </div>
		            </div>
		          </div>

		          <div class="footer-copyright">
		            <div class="container">
		            <p>&copy;Sleekice7ink, 2020. Created using Flask.</p>

		            </div>

		         </div>
			{% endblock %}
	</footer>

</html>